

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{test}">
<head th:replace="~{test :: head}">
<style type="text/css">
img {width:100%;}

</style>

</head>
<body>
<div layout:fragment="content">
<div th:replace="~{test :: logo}"></div>
<div th:replace="~{test :: nav}"></div>
<div class="alert alert-success text-center" role="alert">
  O prestador recebeu seu agendamento!
</div>
<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
            <form>
                <h2 class="pb-4">Confirmação de agendamento</h2>
                
                    <div class="form-row">
                    	
                        <div class="form-group col-md-12">
                        <label for="nome">Nome do prestador</label>
                          <span class="form-control"  th:text="${prestador.nome}"></span>
                        </div>
                          
                      </div>
                      
                    <div class="form-row">
                      
                       
                        
                        
                    </div>              
                      <div class="form-group col-md-12">
                    <div class="form-row">
                    <h5 >Total: </h5>
                             <div id="preco" class="price text-success"><h5 class="ml-3" th:text="${#numbers.formatCurrency(prestador.taxtaFixa + prestador.precoVisitaBase )}"></h5></div>
                        </div>
                     </div>
                    
                    
                    <div class="form-row">
                        <a type="button" class="btn btn-primary mr-2 mt-3" href="#">Agendar Serviço</a>
                        <button type="button" class="btn btn-danger mt-3">Voltar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
		</div>

</body>

</html>

