<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{test}">
<head th:replace="~{test :: head}">

<style type="text/css">
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

body {
    background-color: #eee;
    padding: 2rem 0rem;
}

.card {
    padding: 10px;
    border: none;
    cursor: pointer
}

.card:hover {
    background-color: #eee
}

.card span {
    font-size: 14px
}

.like {
  font-size: 1.5rem;
}

</style>
</head>

<body>
<div layout:fragment="content">
<div th:replace="~{test :: logo}"></div>
<div th:replace="~{test :: nav}"></div>
<div class="col-lg-6 col-lg-offset-4">
<h2>Página de pesquisa de prestador</h2>
</div>
<div class="text-center">
<div class="btn-group" role="group" aria-label="Basic example" th:each="categoria : ${categorias}">
  <div>
  <button type="button" class="btn btn-primary " th:text="${categoria.nome}"></button>
  </div>
</div>
</div>
<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form class="card card-sm">
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                   
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" type="search" placeholder="Pesquise pelo nome do prestador">
                                    </div>
                                   
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-primary" type="submit">Pesquisar</button>
                                    </div>
                                    
                                </div>
                            </form>
                        </div>
                      
                    </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4" th:each="prestador : ${prestadores}">
      <div class="card">
        <img class="card-image" src="https://www.flaticon.com/svg/vstatic/svg/2922/2922510.svg?token=exp=1618071284~hmac=17b3ccad104dc7dffca0358ddffcf6e6"/>
        <div class="card-body">
          <h4 class="card-title" th:text="${prestador.nome}"></h4>
          <h6 class="card-subtitle mb-2 text-muted" th:text="${prestador.categoriaAsText}"></h6>
          <h6 class="card-subtitle mb-2 text-muted" th:text="${prestador.tempoChegarVista}"></h6>
          <p class="card-text">
            Exemplo de descrição que o prestador irá aderir.             </p>
             <p class="card-text">
            4.5             </p>
          
          <div class="buy d-flex justify-content-between align-items-center">
            <div class="price text-success"><h5 class="mt-4" th:text="'Valor: ' + ${#numbers.formatCurrency(prestador.precoVisitaBase)}"></h5></div>
             <a th:href="@{/cliente/agendamento}" class="card-button btn btn-primary mt-3">Agendar visita</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>


</div>
</body>
</html>