

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{test}">
<head th:replace="~{test :: head}">
<style type="text/css">
img {width:100%;}

</style>
<script type="text/javascript">
console.log(getElementById("data").value);
</script>
</head>
<body>
<div layout:fragment="content">
<div th:replace="~{test :: logo}"></div>
<div th:replace="~{test :: nav}"></div>
<div class="alert alert-success text-center" role="alert">
  O prestador recebeu seu agendamento!
</div>
<section class="testimonial py-5" id="testimonial">
    <div class="container">
        <div class="row ">
            <div class="col-md-4 py-5 bg-primary text-white text-center ">
                <div class=" ">
                    <div class="card-body">
                        <img src="http://www.ansonika.com/mavia/img/registration_bg.svg" style="width:30%">
                        <h2 class="py-3">Politicas que você precisa saber!</h2>
                        <p>Para todo serviço é cobrado uma taxa de garantia de R$20,00, que será abatido no pagamento final do serviço.</p>
                        <p>Após a confirmação do pagamento o prestador pode confirmar ou cancelar seu serviço, fique de olho nos serviços confirmados!</p>
                    </div>
                </div>
            </div>
            <div class="col-md-8 py-5 border">
            <form method="post" th:object="${agendamento}" th:action="@{agendamento/pagar} + '?prestadorId= ' + ${prestador.id}">
                <h2 class="pb-4">Confirmação de agendamento</h2>
                
                    <div class="form-row">
                    	
                        <div class="form-group col-md-6">
                        <label for="nome">Nome do prestador</label>
                          <span class="form-control"  th:text="${prestador.nome} "></span>
                          
                        </div>
                        <div class="form-group col-md-6">
                        <label for="nome">Data do agendamento</label>
                          <input type="datetime-local" th:field="*{data}"  class="form-control" required="required"  placeholder="Data">
                          <div class="invalid-feedback" th:errors="*{data}"></div>
                        </div>
                      </div>
                      
                    <div class="form-row">
                        <div class="form-group col-md-6">
                        <label for="nome">CEP de destino</label>
                            <input id="Mobile No." th:field="*{cepDestino}" name="Mobile No." class="form-control" required="required" type="text">
                            <div class="invalid-feedback" th:errors="*{cepDestino}"></div>
                        	
                        </div>
                       <div class="form-group col-md-6">
                        <label for="nome">Informações adicionais</label>
                            <input id="Mobile No." th:field="*{info}" name="Mobile No." class="form-control" required="required" type="text">
                            <div class="invalid-feedback" th:errors="*{info}"></div>
                        </div>
                        
                        
                    </div>
                    <div class="form-row">
                     <div class="form-group col-md-12">
                        <label for="nome">Número do cartão de crédito</label>
                            <input id="Mobile No."th:field="*{pagamento}"  name="Mobile No." class="form-control" required="required" type="text">
                        </div>
                        </div>
                    
                    
                    
                    <div class="form-group col-md-6">
                    <div class="form-row">
                    <h5>Valor do serviço: </h5>
                             <div id="preco"  class="price text-success"><h5 class="ml-3" th:field="*{subtotal}" th:text="${#numbers.formatCurrency(prestador.precoVisitaBase)}"></h5></div>
                        </div>
                     </div>
                      <div class="form-group col-md-6">
                    <div class="form-row">
                    <h5>Valor de garantia: </h5>
                             <div id="preco"  class="price text-success"><h5 class="ml-3" th:text="${#numbers.formatCurrency(prestador.taxtaFixa)}"></h5></div>
                        </div>
                     </div>
                      <div class="form-group col-md-12">
                    <div class="form-row">
                    <h5 >Total: </h5>
                             <div id="preco" class="price text-success"><h5 class="ml-3" th:field="*{total}" th:text="${#numbers.formatCurrency(prestador.taxtaFixa + prestador.precoVisitaBase )}"></h5></div>
                        </div>
                     </div>
                    
                    
                    <div class="form-row">
                        <button  class="btn btn-primary mr-2 mt-3" type="submit">Efetuar Pagamento</button>
                        <button type="button" class="btn btn-danger mt-3">Voltar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
		</div>

</body>

</html>

