<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{test}">
<head th:replace="~{test :: head}">

<style type="text/css">
.form-control-borderless {
    border: none;
}

.form-control-borderless:hover, .form-control-borderless:active, .form-control-borderless:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

body {
    background-color: #eee;
    padding: 2rem 0rem;
}

.card {
    padding: 10px;
    border: none;
    cursor: pointer
}

.card:hover {
    background-color: #eee
}

.card span {
    font-size: 14px
}

.like {
  font-size: 1.5rem;
}

</style>
</head>

<body>
<div layout:fragment="content">
<div th:replace="~{test :: logo}"></div>
<div th:replace="~{test :: nav}"></div>
<div class="col-lg-6 col-lg-offset-4">
<h2>Página de pesquisa de prestador</h2>
</div>
<form id="form" th:object="${searchFilter}" th:action="@{/cliente/search}" >
<input type="hidden" id="searchType" th:field="*{searchType}">
<input type="hidden" id="categoriaId" th:field="*{categoriaId}">
<div class="text-center">
<div class="btn-group mt-3" role="group" aria-label="Basic example" th:each="categoria : ${categorias}">
  <div>
  <button type="button" th:onclick="'searchRest(' + ${categoria.id} + ');'" class="btn btn-primary " th:text="${categoria.nome}"></button>
  </div>
</div>
</div>
<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                   
                                    <div class="col">
                                        <input class="form-control form-control-lg form-control-borderless" th:field="*{texto}" type="search" placeholder="Pesquise pelo nome do prestador">
                                    </div>
                                   
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-primary" onclick="searchRest(null);" type="submit">Pesquisar</button>
                                    </div>
                                    
                                </div>
                           
                        </div>
                        
                      
                    </div>
</div>

 </form>

<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4" th:each="prestador : ${prestadores}">
      <div class="card">
      <div class="text-center">
        <img class="card-image" width="150px" src="https://www.flaticon.com/svg/vstatic/svg/2922/2922510.svg?token=exp=1619474580~hmac=bb670757a3bd5c541adde3507636e493"/>
        </div>
        <div class="card-body">
          <h4 class="card-title" th:text="${prestador.nome}"></h4>
          <h6 class="card-subtitle mb-2 text-muted" th:text="${prestador.categoriaAsText}"></h6>
          <h6 class="card-subtitle mb-2 text-muted" th:text="${prestador.tempoChegarVista}"></h6>
          <p class="card-text">
            Exemplo de descrição que o prestador irá aderir.             </p>
             <p class="card-text">
            4.5             </p>
          
          <div class="buy d-flex justify-content-between align-items-center">
            <div class="price text-success"><h5 class="mt-4" th:text="'Valor: ' + ${#numbers.formatCurrency(prestador.precoVisitaBase)}"></h5></div>
             <a th:href="@{/cliente/agendamento} + '?prestadorId= ' + ${prestador.id}" class="card-button btn btn-primary mt-3">Agendar visita</a>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>


</div>
<div th:if="${prestadores.size() == 0}">
<div class="alert alert-warning alert-dismissible fade show">
    <h4 class="alert-heading"><i class="fa fa-warning"></i> Atenção!</h4>
    <p>Não encontramos nenhum prestador para a categoria que você está procurando!</p>
    <hr>
    <p class="mb-0">Favor voltar para o menu e escolher outra categoria.</p>
    <button type="button" class="close" data-dismiss="alert">&times;</button>
</div>
</div>
</body>
</html>