<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{test}">
<head th:replace="~{test :: head}">
<style type="text/css">

</style>
</head>
<body>
<div layout:fragment="content">
<div th:replace="~{test :: logo}"></div>

<div class="col-lg-4 col-lg-offset-4">
<h2 >Cadastro de prestador </h2>
</div>

<div class="container card ">
	<form method="post" th:object="${prestador}" th:action="@{/public/prestador/save}" enctype="multipart/form-data">
  <div class="form-row">
  
    <div class="form-group col-md-6">
      <label for="email">Email</label>
       <div class="input-group mb-2 mr-sm-2">
    <div class="input-group-prepend">
      <div class="input-group-text">@</div>
    </div>
      <input type="email" th:field="*{email}" id="email" th:errorclass="is-invalid" name="email" class="form-control" placeholder="Digite seu email">
       <div class="invalid-feedback" th:errors="*{email}"></div>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Senha</label>
      <input type="password" th:field="*{senha}" th:errorclass="is-invalid" class="form-control"  placeholder="Digite sua senha">
      <div class="invalid-feedback" th:errors="*{senha}"></div>
    </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputAddress">Preço base de visita</label>
    <input type="text" th:field="*{precoVisitaBase}" class="form-control" th:errorclass="is-invalid"  placeholder="Preço estimativo de visita">
     <div class="invalid-feedback" th:errors="*{precoVisitaBase}"></div>
    </div>
  <div class="form-group col-md-6">
    <label for="nome">Nome</label>
    <input type="text" th:field="*{nome}" class="form-control" th:errorclass="is-invalid"  placeholder="Digite seu nome">
	 <div class="invalid-feedback" th:errors="*{nome}"></div> 
 </div> 
 </div>
 <div class="form-row">
  <div class="form-group col-md-6">
    <label for="inputAddress2">CPF</label>
    <input type="text" th:field="*{cpf}" class="form-control" th:errorclass="is-invalid"  placeholder="Exemplo de CPF: 02134432312">
  	 <div class="invalid-feedback" th:errors="*{cpf}"></div>
  </div>
   <div class="form-group col-md-6">
      <label for="inputCity">Tempo médio para visita</label>
      <input type="text" th:field="*{tempoChegarVista}" th:errorclass="is-invalid" placeholder="Digite aqui em quantas horas em média ocorrem suas visitas" class="form-control">
   	   <div class="invalid-feedback" th:errors="*{tempoChegarVista}"></div>
    </div>
    </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">Telefone</label>
      <input type="text" th:field="*{telefone}" th:errorclass="is-invalid" class="form-control">
   	   <div class="invalid-feedback" th:errors="*{telefone}"></div>
    </div>
  </div>
   <div class="form-group col-md-12">
      <label for="inputCity">Categorias</label>
     <select   class="form-select" name="categoria" id="categoria" multiple="multiple" th:field="*{servicosOferecidos}" >
     	<option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nome}"></option>
     </select>
   	   <div class="invalid-feedback" th:errors="*{fotoFile}"></div>
    </div>
  
  <button type="submit" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
</form>

</div>


</div>
</body>
</html>