<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{test-prest}">
<head th:replace="~{test-prest :: head}">
<style type="text/css">
.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}
</style>

</head>

<body>

	<div layout:fragment="content">
		<div th:replace="~{test :: logo}"></div>
		<div th:replace="~{test-prest :: nav}"></div>

		<div class="col-lg-4 col-lg-offset-4 p-2">
			<h2>Serviços Pendentes</h2>
		</div>
		<div class="col" >
		<div class="card mb-3 " th:each="agendamento : ${agendamentos}" style="width: 30cm;  margin-left: auto; margin-right: auto; "  >
			<th:block th:switch="${agendamento.status.name()}">
				<div th:case="'Aguardando'" class="card-header alert-warning">Serviço</div>
				<div th:case="'Confirmado'" class="card-header alert-success" >Serviço</div>
				<div th:case="'Concluido'" class="card-header alert-dark" >Serviço</div>
				
			</th:block>
			<div class="card-body" >
			<div class = "row">
				<div class="col-12 col-sm-8 mb-3">
				<div class="row">
					<div class="col-md-5"> Valor: <span th:text="${#numbers.formatCurrency(agendamento.total)}" ></span></div>
					<div class="col-md-7"> Data da entrega: <span th:text="${#temporals.format(agendamento.data, 'dd/MM/yyyy HH:mm')}"  ></span>
					</div>
				</div>
					<div class="row">
					<div class="col-md-5">Cliente: <span th:text="${agendamento.cliente.nome}" ></span></div>
					<div class="col-md-7">Telefone: <span th:text="${agendamento.cliente.telefone}"> ></span></div>
					</div>

					<div>Descrição</div>
					<div>
						<textarea class="form-control" disabled rows="" cols="" th:text="${agendamento.info}" >Descricao Produto</textarea>
					</div>
				</div>

				<div class="col-12 col-sm-4">
					
					<form method="post" th:action="@{/prestador/agendamento/confirmar} + '?agendamentoId ' + ${agendamento.id}">
						<input type="hidden" name="agendamentoId" th:value="${agendamento.id}" />
						<div class="form-group">
							<button  type="submit" id="aceitar" class=" btn btn-primary btn-lg btn-block">Confirmar</button>
						</div>
						</form>
						<form method="post" th:action="@{/prestador/agendamento/recusar}">
						<input type="hidden" name="agendamentoId" th:value="${agendamento.id}" />
						<div class="form-group ">
							<button type="submit" id="recusar" class=" btn btn-danger btn-lg btn-block">Não Realizar</button>
						</div>
						</form>
					
				</div>
			</div>

			</div>
		</div>
		</div>
		<div class="alert alert-warning alert-dismissible fade show mt-3" th:if="${agendamentos.size() == 0}" role="alert">
							  <strong>Nenhum agendamento pendente.</strong>
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							    <span aria-hidden="true">&times;</span>
							  </button>
							</div>
		
	
		
	</div>

</body>

</html>