<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  	  xmlns:th="http://www.thymeleaf.org" layout:decorate="~{test}">
<head th:replace="~{test :: head}">
<style type="text/css">

</style>

</head>
<body>
<div layout:fragment="content">
<div th:replace="~{test :: logo}"></div>
<div th:replace="~{test :: nav}"></div>

<div class="col-lg-4 col-lg-offset-4">
<h2>Home do cliente</h2>
</div>
<div class="text-center">

</div>
<div class="container">
    <br/>
	<div class="row justify-content-center">
                        <div class="col-12 col-md-10 col-lg-8">
                            <form id="form" class="card card-sm" th:object="${filter}" method="get" th:action="@{/prestador/historico}"  >
                                <div class="card-body row no-gutters align-items-center">
                                    <div class="col-auto">
                                        <i class="fas fa-search h4 text-body"></i>
                                    </div>
                                
                                    <div class="col-4">
                                    <input type="hidden" id="searchType" >
                                    <input type="hidden" id="categoriaId" >
                                    <label for="nome">Número do serviço</label>
                                        <input class="form-control form-control-lg form-control-borderless" th:field="*{pedidoId}"  type="text" placeholder="Pesquise pelo nome do prestador">
                                         </div>
                                    <div class="col-4">
                                    <label for="nome">Data inicial</label>
                                        <input class="form-control form-control-lg form-control-borderless" th:field="*{dataInicial}"  type="date" placeholder="Pesquise pelo nome do prestador">
                                   </div>
                                   <div class="col-4">
                                   <label for="nome">Data final</label>
                                        <input class="form-control form-control-lg form-control-borderless" th:field="*{dataFinal}"  type="date" placeholder="Pesquise pelo nome do prestador">
                                   </div>
                                   
                                    <div class="col-auto">
                                        <button class="btn btn-lg btn-primary"  type="submit">Pesquisar</button>
                                    </div>
                                    <!--end of col-->
                                </div>
                            </form>
                        </div>
                        <!--Table-->
<table class="table table-striped w-auto" th:if="${agendamentos.size() > 0}">

  <!--Table head-->
  <thead>
    <tr>
      <th>#</th>
      <th>Cliente</th>
      <th>CEP</th>
      <th>Valor Toal</th>
      <th>Data</th>
      
    </tr>
  </thead>
  <!--Table head-->

  <!--Table body-->
  <tbody>
    <tr class="table-info" th:each="pedido : ${agendamentos}">
      <th scope="row">1</th>
      <td><span th:text="${pedido.cliente.nome}"></span></td>
      <td><span th:text="${pedido.cliente.formattedCep}"></span></td>
      <td><span th:text="${#numbers.formatCurrency(pedido.total)}"></span></td>
      <td><span th:text="${#temporals.format(pedido.data, 'dd/MM/yyyy HH:mm')}"></span></td>
      
    </tr>
   
  </tbody>
  <!--Table body-->


</table>
<!--Table-->
<span th:if="${agendamentos.size() == 0}">Nenhum item encontrado</span>
                        <!--end of col-->
                    </div>
                    
</div>




		</div>

</body>

</html>