<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
    .logo-container {
        background-color: #47bcff;
        color: #FFF;
         text-decoration:none;
    }
    .logo {
        font-family: 'Handlee', cursive;
        font-size: 2.5rem;
      
    }
    .log {
       
        text-decoration:none;
    }
    .log:hover {
       
        text-decoration:underline ;
    }
</style>
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>
<link type="text/css" rel="stylesheet" href="http://fakedomain.com/smilemachine/html.css" />


</head>
<body>
<div th:fragment="logo" class="" >
		<div class="logo-container p-3 d-flex justify-content-between">
			<span class="logo ml-2">beyond work</span>
		</div>
		
</div>
<nav  class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="nav">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand"  th:href="@{/prestador/agendamentos/pendentes}">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <div class="navbar-nav me-auto mb-2 mb-lg-0">
       
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ações
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" th:href="@{/prestador/agendamentos/pendentes}">Pedidos Aguardando aprovação</a>
          <a class="dropdown-item" th:href="@{/prestador/agendamentos/confirmados}">Pedidos Confirmados</a>
          <a class="dropdown-item" th:href="@{/prestador/agendamentos/executados}">Pedidos Finalizados</a>
          <a class="dropdown-item" th:href="@{/prestador/historico}">Historico de serviços</a>
          
        </div>
      </div>
        <div class="nav-item">
          <a class="nav-link" href="#">Logout</a>
        </div>
        
        
      </div>
       </div>
      
      <div class="justify-content-between" >    
      	<span class="navbar-text">
        	Ola, Gabriel!
      	</span>
      </div>
      
    </div>
 
</nav>
</body>
</html>